/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";


/* ==========================================================================
   Base
   ========================================================================== */

html {
   background-color: @back-bg;
}

body { 
   background-color: @back-bg;
   color: @text-color;

   .wrap.container {
      background-color: @body-bg;

      .box-shadow( 0 0 2px 0 #000 );

      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
   }
}


/* ==========================================================================
   Header
   ========================================================================== */

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
   margin: 7px 4px 0 6px;
}

.banner { }

.header-img {
   position: relative;
   min-height: 1px;
   padding: 0;
   margin: 0;

}

.navbar {
   margin-bottom: 0;
}

// Fix to make forums nav link active
body.bbpress nav .menu-forums {

}


.login-register-widget {
   float: left;
   line-height: @line-height-computed;

   .bbp-login-links {
      padding: @navbar-padding-vertical @navbar-padding-horizontal;

   }

   .bbp-logged-in {
      padding: 10px @navbar-padding-horizontal;
      font-size: @font-size-base;

      .serverus-login-avatar {
         img {
            margin: 0;
         }
      }

      .login-widget-username {
         margin: 6px 10px 6px 6px;
         display: inline-block;
         
         a {
            &:hover,
            &:focus {
             text-decoration: none;
            }
         }
      }

      .logout-link {
         font-size: @font-size-large;
         color: @link-color;
         
         opacity:0.4;
         filter:alpha(opacity=40); /* For IE8 and earlier */
         
         .glyphicon {
            top: 2px;
         }

         &:hover,
         &:focus {
            opacity: 1;
         }
      }
   }


/*  @media (min-width: @grid-float-breakpoint) {
    .navbar > .container & {
      margin-left: -@navbar-padding-horizontal;
    }
  }*/
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.page-header {
   z-index: 100;

   //padding-bottom: 0;
   //margin: 40px 0 20px;
   //border-bottom: none;
   padding-bottom: 0px;
   margin: 0;
   //margin: 25px 0 10px;
   border-bottom: none;
   
   //text-align: center;

   

   h3 {
      //font-size: @font-size-large;
      font-family: @headings-font-family;
      font-weight: @font-weight-heavier;
      line-height: @headings-line-height;
      color: @headings-color;

      //color: darken(@brand-primary, 25%)
   }
}

.header-image {
   position: relative;
   .box-shadow( 0 0 1px 0 #000 );

   .header-image-title {
      position: absolute;
      margin: 0;
      padding: 8px 16px;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff; //FIXME
      top: 28%;
      font-size: 62px;
      //border-bottom: 6px solid #333;
   }
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
   margin-top: 0;
}

.widget {
   border: @border-stack; 
   margin: 0 0 1em 0;

   font-size: @font-size-widget-base;   

   //.box-shadow( 0 0 4px 0 #000 );

   .widget-title {
      color: @brand-complement-text-contrast;
      background-color: @brand-complement;
      border-left: 6px solid @brand-primary;

      font-size: @font-size-widget-large;
      line-height: @line-height-widget-title;
      
      font-family: @headings-font-family;
      font-weight: @font-weight-heavier;

      padding: @padding-large-vertical @padding-large-horizontal;
   }

   .widget-inner {
      padding: @padding-large-vertical @padding-large-horizontal;

   }
}

.widget_serverus_display_topics {

   .widget-inner {
      padding: @padding-large-vertical 0;
   }

   ul.widget_serverus_display_topics_inner {
      list-style-type: none;
      margin-bottom: 0;
      padding: 0;
   }

   .widget_serverus_display_topics_single {
      
      margin: 0;
      padding: 3px @padding-large-horizontal;
      min-height: 38px;

      .topic-avatar {
      }

      font-size: @font-size-widget-small;

      .bbp-forum-title {
         font-size: @font-size-widget-base;
         //font-size: @font-size-widget-small;
         margin-left: @padding-xs-horizontal;
         font-weight: @font-weight-heavy;

         margin-left: @padding-xs-horizontal + 32 + 0; // Account for avatar, then indent
         display: block;
      }

      .topic-info {
         margin-left: @padding-xs-horizontal + 32 + 0; // Account for avatar, then indent
         margin-bottom: 0;
         .text-muted;

         font-size: @font-size-widget-small - 1;

         a {
            .text-muted;
         }
      }

      &:hover,
      &:focus {
         background-color: @body-bg-contrast-mix;
         cursor: default;
      }

   }
}


.widget_list_serverus(){

   .widget-inner {
      padding: 0;
   }

   .list-group {
      margin-bottom: 0;
   }

/*   .list-group-item {
   }*/
}

.widget_display_forums,
.widget_display_views {

   .widget_list_serverus();

   .widget-inner {

      ul {
         list-style-type: none;
         padding: 0;
         margin: 0;

         //.list-group;

         li {
            //.list-group-item;
            border-left: none;
            border-right: none;
            padding: 0;

            a {
               padding: @padding-base-vertical @padding-large-horizontal;
               display: block;

               &:hover,
               &:focus {
                  background-color: @body-bg-contrast-mix;
               }
            }

            &:first-child {
               border-top: none;
               padding-top: @padding-base-vertical;
            }

            &:last-child {
               border-bottom: none;
               padding-bottom: @padding-base-vertical;
            }

         }
      }
   }

}

.widget_display_stats {

   .widget_list_serverus();
   
   .widget-inner {
      padding: .5em 0;
   }

   .list-group-item {
      .text-muted;
      border: none;
      padding: .5em 1.5em;
   }
}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
   .text-muted();
   padding: 1em;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }





/* ==========================================================================
   bbPress
   ========================================================================== */

#bbpress-forums li.bbp-body ul.forum, 
#bbpress-forums li.bbp-body ul.topic {
   padding: 0;
   border-top: none;
}

// AVATARS
#bbpress-forums p.bbp-topic-meta img.avatar, 
#bbpress-forums ul.bbp-reply-revision-log img.avatar, 
#bbpress-forums ul.bbp-topic-revision-log img.avatar, 
#bbpress-forums div.bbp-template-notice img.avatar, 
#bbpress-forums .widget_display_topics img.avatar, 
#bbpress-forums .widget_display_replies img.avatar,
#bbpress-forums span.bbp-topic-freshness-author img.avatar, {
   float: none;
   margin-bottom: -7px;
   border: 3px double @border-color-main;
} 

// ALERTS
div.bbp-template-notice {
   .alert;
   .alert-info;
}

div.bbp-template-notice.error {
   .alert;
   .alert-danger;
}

// BORDERS
#bbpress-forums ul.bbp-lead-topic, 
#bbpress-forums ul.bbp-topics, 
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
   font-size: @font-size-base; 
   overflow: hidden;
   border: @border-stack; 
   margin-bottom: 20px;
   clear: both;

   //.box-shadow( 0 1px 1px 0 #000 );
}

#bbpress-forums.srv-front-page ul.bbp-topics {
   border: none;
}

// PAGINATION
.bbp-pagination-links {
   text-decoration: none;
   a {
      text-decoration: none;
      background-color: @pagination-bg;
      border: 1px solid @pagination-border;
      &:hover{
         text-decoration: none;
         background-color: @pagination-hover-bg;
         opacity: 1;
         border: 1px solid @pagination-hover-border;
      }
   }

   span.current {
      border: 1px solid @pagination-border;
      background-color: @pagination-active-bg;
      color: @pagination-active-color;
      opacity: 1;
   }
}

// Forum Search box and widget
#bbpress-forums div.bbp-search-form,
#bbpress-forums form#bbp-search-form,
.widget .bbp-search-form {

   input.bbp_search,
   input#bbp_search {
      width: 80%;
      float: left;
   }

   button.bbp_search_submit {
      width: 20%;
      float: left;
   }
}

// FORUMS LIST

   // Background
   #bbpress-forums div.odd, #bbpress-forums ul.odd,
   #bbpress-forums div.even, #bbpress-forums ul.even {
      background-color: @body-bg;

   }

   // Breadcrumbs
   #bbpress-forums div.bbp-breadcrumb {
      float: none;
   }

   // Search Box
   #bbpress-forums div.bbp-search-form {
      margin-bottom: 8px;
   }

   #bbp_search_submit {
      //margin-bottom: 1px;
   }

   @media only screen and (max-width: 480px){
      div.bbp-search-form input, div.bbp-search-form button {
         font-size: @font-size-large; 
         padding: 6px 12px;
      }
   }

   // New Topic button
   #bbpress-forums .bbp-new-topic-btn {
      float: left;
   }

   // Category Header
   #bbpress-forums li.bbp-header,
   #bbpress-forums li.bbp-footer {
      padding: 6px 16px;

      border-top: none;

      font-size: @font-size-larger;
      font-weight: @headings-font-weight;
   }

   // Forums list Footers
   #bbpress-forums li.bbp-footer,
   #bbpress-forums li.bbp-category-footer {
      background: @body-bg-contrast-mix;
      border-top: @border-stack;
      text-align: center;
   }

   #bbpress-forums li.bbp-footer {
      font-size: @font-size-large * .75; //FIXME wtf
   }

   #bbpress-forums li.bbp-category-footer {
      font-size: @font-size-large / 4; //FIXME wtf
      clear: both;
   }

   // Category Header
   #bbpress-forums li.bbp-header {
      background-color: @brand-primary;
      color: @brand-primary-text-contrast;
   }

      // Category Title
      #bbpress-forums li.bbp-forum-title {
         font-weight: bold;
      }


   // Category description
   #bbpress-forums .forum div.bbp-forum-content, 
   #bbpress-forums .forum div.bbp-topic-content {
      margin-left: 20px;
      padding: 12px;
      text-align: left;

      color: @gray-light;
      font-size: @font-size-small;
   }


   // Single forum item
   #bbpress-forums .bbp-subforum {
      padding-left: 16px;
      padding-right: 16px;
   }

   #bbpress-forums .bbp-subforum ul li {
      padding-top: 8px;
      padding-bottom: 8px;
      border-top: @border-stack;
   }
      
      // Forum Title
      #bbpress-forums .bbp-subforum .bbp-forum-title {
         padding-top: 7px;

         font-weight: bold;
         font-size: @font-size-large;
      }

      // Forum description
      #bbpress-forums li.bbp-forum-info div.bbp-forum-content {
         font-size: @font-size-small;
         margin: 0;
         padding: 0;
         word-wrap: break-word;

         color: @text-color;
      }

      // Forum Subforums
      #bbpress-forums .bbp-forum-info .bbp-forum-subsubforums {
         color: @text-color;
      }

      #bbpress-forums .bbp-subforum ul li.bbp-forum-topic-count,
      #bbpress-forums .bbp-subforum ul li.bbp-forum-reply-count {
         padding-top: 26px;
         padding-bottom: 26px;
      }


      // Last reply author line
      #bbpress-forums p.bbp-topic-meta {
         margin: 2px;
      }

      // Last reply author avatar
      #bbpress-forums p.bbp-topic-meta span.bbp-topic-freshness-author img.avatar {
         float: none !important; 
         display: inline;
         margin-bottom: 0;
      }


// TOPICS LIST
   
   // Subscribe button
   div.clearfix .subscription-toggle,
   div.clearfix .favorite-toggle {
      .pull-left;
      .btn;
   }

   #bbpress-forums li.bbp-header span#subscription-toggle {
      color: @brand-primary;
   }

   #bbpress-forums .bbp-topics .bbp-body ul.topic {
      padding: 12px;

      li.bbp-topic-voice-count,
      li.bbp-topic-reply-count {
         padding-top: 5px;
         padding-bottom: 5px;
      }
   }

   #bbpress-forums .bbp-topics .bbp-body ul.topic.even {
      background-color: @body-bg-contrast-mix;
   }


   // NEW TOPIC FORM
      // Form
      #bbpress-forums #new-post {
         margin-bottom: 3em;
         background-color: @body-bg-contrast-mix;
         padding: 2em;
      }

      // Select
      #bbpress-forums #new-post .form-group select{
         .form-control;
      }

      // Textarea
      #bbpress-forums #new-post textarea {
         .form-control;
         height: 120px;
      }

      // Submit button
      div.bbp-submit-wrapper {
         float: none;
      }

      #bbpress-forums #new-post label.error {
         color: @brand-danger;
         margin: 12px 0 5px 0;
      }

   // Post Title
   #bbpress-forums .bbp-topics .bbp-topic-title .bbp-topic-permalink {
      padding-top: 7px;
      //font-weight: bold;
      font-size: @font-size-large;
   }

   li.bbp-topic-title {
      width: 60%;
   }

   // Voices
   li.bbp-topic-voice-count {
      width: 0;
      visibility: hidden;
   }

   // Post/reply count
   /*li.bbp-topic-reply-count {
      float: left;
      text-align: center;
      width: 10%;
   }*/

   // Latest reply
   li.bbp-topic-freshness {
      text-align: center;
      float: left;
      width: 27%;

      padding-left: 6px;
   }

   // Latest reply text
   #bbpress-forums p.bbp-topic-freshness-text {
      text-align: left;
      margin: 0 0 0 40px; /* Width of avatar plus desired margin */
   }

// REPLY LIST
   // Lead Post
   #bbpress-forums .bbp-lead-topic li.bbp-header {
      text-align: left;
      font-weight: @font-weight-heavier;
   }

   #bbpress-forums ul.bbp-lead-topic {
      //margin-bottom: 0;
   }

   // Lead Header
   #bbpress-forums div.bbp-reply-content a.subscription-toggle,
   #bbpress-forums div.bbp-reply-content a.favorite-toggle,
   #bbpress-forums .bbp-lead-topic .bbp-header a.subscription-toggle,
   #bbpress-forums .bbp-lead-topic .bbp-header a.favorite-toggle {
      .btn;
      .btn-xs;
      .btn-default;
   }

   // Reply list header
   #bbpress-forums .bbp-replies li.bbp-header {
      padding: 0;
      height: 12px;
   }

   #bbpress-forums div.bbp-topic-header {
      padding: 8px 16px;
   }


   // Reply Header 
   #bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header {
      background-color: @body-bg-contrast-mix;
   }

   #bbpress-forums div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header {
      border-top: @border-stack;
   }
   
   #bbpress-forums .bbp-meta .caret {
      margin: .5em;
   }

   #bbpress-forums span.bbp-admin-links {
      color: @text-color;
   }
   
   #bbpress-forums span.bbp-admin-links a {
      .text-muted;
      font-size: 10px;
      text-transform: uppercase;
      text-decoration: none;
   }

   // Reply avatar and author info
   #bbpress-forums div.bbp-reply-author,
   #bbpress-forums .bbp-lead-topic div.bbp-topic-author,
   #bbp-search-results div.bbp-topic-author {
      
      border-radius: 3px;

      img.avatar {
         float: none !important;
         margin-bottom: 4px;
      }

      div.bbp-author-role {
         margin-bottom: 8px;
      }
      div.bbp-reply-ip,
      div.bbp-topic-ip {
         margin-top: -8px;
         margin-bottom: 8px;
      }
   }

   #bbpress-forums div.bbp-topic-content code, #bbpress-forums div.bbp-reply-content code, #bbpress-forums div.bbp-topic-content pre, #bbpress-forums div.bbp-reply-content pre {
      font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
      display: inline-block;
      background-color: @code-bg;
      border: 1px solid @border-color-main-contrast;
      padding: 0 5px;
      max-width: 95%;
      vertical-align: middle;
      margin-top: -3px;
   }

   #bbpress-forums .bbp-body div.bbp-forum-author, 
   #bbpress-forums .bbp-body div.bbp-topic-author, 
   #bbpress-forums .bbp-body div.bbp-reply-author {
      background-color: @body-bg-contrast-mix;
   }

   // Tag list
   #bbpress-forums div.bbp-topic-tags {
      float: none;
   }

   // REPLY FORM
      #bbpress-forums fieldset.bbp-form .checkbox input {
         margin: 0 0 0 -20px;
      }

      #insert-media-button {
         .btn;
         .btn-default;
         box-shadow: none;
         margin-bottom: 4px;
      }

      #bbpress-forums .quicktags-toolbar {
         background-color: @body-bg;
         border: none;

         input[type=button] {
            .btn;
            .btn-default;
         }
      }

   // reply Revision log
   .bbp-reply-revision-log .avatar {
      display: none;
   }

   // Images
   #bbpress-forums .bbp-body .bbp-topic-content img,
   #bbpress-forums .bbp-body .bbp-reply-content img {
      margin: .5em 1em;
   }


// FRONT PAGE
   #bbpress-forums.srv-front-page div.bbp-topic-content {
      margin-left: 0;
      padding: 8px;
   }

   #bbpress-forums.srv-front-page div.bbp-frontpage-topic-footer {
      background-color: @body-bg-contrast-mix;
      padding: 8px 16px;

      .bbp-meta {
         font-size: @font-size-base;
      }
   }

   #bbpress-forums.srv-front-page li.bbp-body .topic {
      //background-color: @body-bg;
     // border-left: 15px ;

      background: @body-bg; /* Old browsers */
      background: -moz-linear-gradient(top,  @body-bg-contrast-mix 0%, @body-bg 50%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@body-bg-contrast-mix), color-stop(50%,@body-bg)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  @body-bg-contrast-mix 0%, @body-bg 50%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  @body-bg-contrast-mix 0%, @body-bg 50%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  @body-bg-contrast-mix 0%, @body-bg 50%); /* IE10+ */
      background: linear-gradient(to bottom,  @body-bg-contrast-mix 0%, @body-bg 50%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@body-bg', endColorstr='@body-bg-contrast-mix',GradientType=0 ); /* IE6-9 */
   }

// LOGIN WIDGET
/*form div.bbp-username,
form div.bbp-password,
form div.bbp-remember-me,
form div.bbp-submit-wrapper {
   .form-group;
}

form div.bbp-username input,
form div.bbp-password input{
   .form-control;
}

form div.bbp-remember-me {
   .checkbox;
}

form div.bbp-submit-wrapper button {
   .btn;
   .btn-default;
   .btn-block;
} */

/* ==========================================================================
   Login / Register / Lost Password page
   ========================================================================== */

// LOGIN FORM
.serverus-login-title {
   border-bottom: 1px dotted @brand-primary;
   //padding: 2em;

   color: @brand-complement-text-contrast;
   background-color: @brand-complement;

   font-size: @font-size-widget-large;
   line-height: @line-height-widget-title;
   
   font-family: @headings-font-family;
   font-weight: @font-weight-heavier;

   padding: @padding-large-vertical @padding-large-horizontal;

}

.serverus-login-wrapper,
.serverus-registration-wrapper {
   overflow: hidden;
   .box-shadow( 0 0 6px 1px @brand-complement );  
   border: @border-stack; 
   border-radius: 12px;
}

.serverus-login-inner, 
.serverus-registration-inner {
   padding: @padding-large-vertical @padding-large-horizontal;
}

.bbp-login-form .bbp-remember-me {
   padding-left: 25px;
}

.serverus-show-lost-pass {
   padding: @padding-base-vertical @padding-large-horizontal;
   background-color: @body-bg-contrast-mix;
}

.serverus-lost-pass-form {
   margin-top: 0;
   padding: 1px 2em 2em 2em;
   background-color: @body-bg-contrast-mix;
}

.bbp-lost-pass-btn {
   display: block;
}

// Default Login page overrides
body.login {
   background-color: @back-bg;
}

body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {}

body.login div#login form#loginform,
body.login div#login form#registerform,
body.login div#login form#lostpasswordform {
   .box-shadow( 0 0 6px 1px @brand-complement );  
   border: @border-stack; 
   border-radius: 12px;
   padding: 2em;
}

body.login div#login form#loginform p {}

body.login div#login form#loginform p label,
body.login div#login form#registerform p label,
body.login div#login form#lostpasswordform p label {
   display: block;
   color: @text-color;
}

body.login div#login form#loginform input {}

body.login div#login form#loginform input#user_login,
body.login div#login form#loginform input#user_pass,
body.login div#login form#registerform input#user_login,
body.login div#login form#registerform input#user_email,
body.login div#login form#lostpasswordform input#user_login {
   .form-control;
}


body.login div#login form#loginform p.forgetmenot {
   .checkbox;
   position: relative;
   top: 32px;
}

body.login div#login form#loginform p.forgetmenot input#rememberme {
   float: left;
   margin-left: -20px;
   border: 1px solid @input-border;
   border-radius: @input-border-radius;
   background-color: @input-bg;
   background-image: none;
}

@media (max-width: 782px) {
   body.login div#login form#loginform p.forgetmenot {
      top: 40px;
   }
   body.login div#login form#loginform p.forgetmenot input#rememberme {
      height: 25px;
      width: 25px;
      margin-right: 5px;
      margin-top: -3px;
   }
}

body.login div#login form#loginform p.submit {
   position: relative;
   top: -36px;
}

body.login div#login form#loginform p.submit input#wp-submit,
body.login div#login form#registerform p.submit input#wp-submit,
body.login div#login form#lostpasswordform p.submit input#wp-submit {
   .btn;
   .btn-primary;
   .btn-block;
}

body.login div#login p#nav {}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}



/* ==========================================================================
   Profile page
   ========================================================================== */

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
   opacity: 1;
   background-color: @body-bg-contrast-mix;
}

#bbpress-forums fieldset.bbp-form {
   border: @border-stack;
}

#bbpress-forums #bbp-your-profile fieldset label[for] {
   padding: 5px 0 5px 0;
   text-align: left;
}

#bbpress-forums #bbp-your-profile fieldset input, 
#bbpress-forums #bbp-your-profile fieldset textarea,
#bbpress-forums #bbp-your-profile fieldset select {
   .form-control;
}

#bbpress-forums #bbp-your-profile fieldset span.description {
   .alert;
   .alert-info;
   width: 100%;
   margin: 1em 0;
}

#bbpress-forums #bbp-your-profile fieldset.submit button {
   .btn;
   .btn-primary;
}

/* ==========================================================================
   Advertisements
   ========================================================================== */

.serverus-ad {
   .box-shadow( 0 0 6px 1px @brand-complement );  
   border: @border-stack; 
   padding: @padding-base-vertical @padding-base-horizontal;
   margin-bottom: 1em;
   background-color: @body-bg-contrast-mix;
}

/* ==========================================================================
   Bootstrap tweaks
   ========================================================================== */

// typo in bootstrap
input[type="radio"], input[type="checkbox"] {
   margin-top: 1px;
}

// Tab/tab pane styles 
.tab-pane {
   padding: @padding-large-vertical @padding-base-horizontal;
}