/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

@color-brand: #428bca;

/* ==========================================================================
   Base
   ========================================================================== */

body { 
   
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.header-img {
   position: relative;
   min-height: 1px;
   padding: 0;
   margin: 0;
}

.navbar {
   margin-bottom: 0;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }





/* ==========================================================================
   bbPress
   ========================================================================== */

#bbpress-forums li.bbp-body ul.forum, 
#bbpress-forums li.bbp-body ul.topic {
//   padding: 0;
}

#bbpress-forums div.bbp-forum-title {
//   padding: 4px 8px;

   font-weight: bold;
   font-size: 1.5em;

   //fontstack with details here
   color: @color-brand;
}

#bbpress-forums ul.bbp-forums-list {
   border: none;
}

#bbpress-forums li.bbp-forum {
   display: block;
}