/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

@color-brand: #428bca; //I think I'm using color-primary now instead

.bg-contrast-mix(@bgcolor:@body-bg;@mixcolor:#888){
   background-color: mix(@mixcolor, @bgcolor, 10%);
}

/* ==========================================================================
   Base
   ========================================================================== */

body { 
   
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.header-img {
   position: relative;
   min-height: 1px;
   padding: 0;
   margin: 0;
}

.navbar {
   margin-bottom: 0;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
   margin-top: 26px;
}

.widget {
   border: 1px solid #CCC; //TODO border stack
   margin: 1em;
   padding: 0 1.5em 1.5em 1.5em;
}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }





/* ==========================================================================
   bbPress
   ========================================================================== */

#bbpress-forums li.bbp-body ul.forum, 
#bbpress-forums li.bbp-body ul.topic {
   padding: 0;
}

// AVATARS
#bbpress-forums p.bbp-topic-meta img.avatar, 
#bbpress-forums ul.bbp-reply-revision-log img.avatar, 
#bbpress-forums ul.bbp-topic-revision-log img.avatar, 
#bbpress-forums div.bbp-template-notice img.avatar, 
#bbpress-forums .widget_display_topics img.avatar, 
#bbpress-forums .widget_display_replies img.avatar,
#bbpress-forums span.bbp-topic-freshness-author img.avatar, {
   float: none;
   margin-bottom: -7px;
   border: 3px double #ddd;
} 


// FORUMS LIST

   // Breadcrumbs
   #bbpress-forums div.bbp-breadcrumb {
      float: none;
   }

   // Search Box
   #bbpress-forums div.bbp-search-form {
      margin-bottom: 8px;
   }

   #bbp_search_submit {
      //margin-bottom: 1px;
   }

   @media only screen and (max-width: 480px){
      div.bbp-search-form input, div.bbp-search-form button {
         font-size: 14px;
         padding: 6px 12px;
      }
   }

   // New Topic button
   #bbpress-forums .bbp-new-topic-btn {
      float: left;
   }

   // Category Header, Forums list Footer
   #bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {
      padding: 8px 16px;

      font-size: 16px;
      font-weight: normal;
   }

   // Category Header
   #bbpress-forums li.bbp-header {
      background-color: @brand-primary;
      color: white;
   }

      // Category Title
      #bbpress-forums li.bbp-forum-title {
         font-weight: bold;
      }


   // Category description
   #bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content {
      margin-left: 20px;
      padding: 12px;
      text-align: left;

      color: @gray-light;
      font-size: 11px;
   }


   // Single forum item
   #bbpress-forums .bbp-subforum {
      padding-left: 16px;
      padding-right: 16px;
   }

   #bbpress-forums .bbp-subforum ul li {
      padding-top: 8px;
      padding-bottom: 8px;
      border-top: 1px solid @gray-lighter;
   }
      
      // Forum Title
      #bbpress-forums .bbp-subforum .bbp-forum-title {
         padding-top: 7px;

         font-weight: bold;
         font-size: @font-size-base;
      }

      // Forum description
      #bbpress-forums .bbp-forum-info .bbp-forum-content {
         font-size: 11px;
         margin: 0;
         padding: 0;
         word-wrap: break-word;

         color: @gray;
      }

      // Forum Subforums
      #bbpress-forums .bbp-forum-info .bbp-forum-subsubforums {
         color: @text-color;
      }

      #bbpress-forums .bbp-subforum ul li.bbp-forum-topic-count,
      #bbpress-forums .bbp-subforum ul li.bbp-forum-reply-count {
         padding-top: 26px;
         padding-bottom: 26px;
      }


      // Last reply author line
      #bbpress-forums p.bbp-topic-meta {
         margin: 2px;
      }

      // Last reply author avatar
      #bbpress-forums p.bbp-topic-meta span.bbp-topic-freshness-author img.avatar {
         float: none !important; 
         display: inline;
         margin-bottom: 0;
      }


// TOPICS LIST
   
   // Subscribe button
   .subscription-toggle {
      .pull-left;
      .btn;
   }

   #bbpress-forums .bbp-topics .bbp-body ul.topic {
      padding: 12px;

      li.bbp-topic-voice-count,
      li.bbp-topic-reply-count {
         padding-top: 5px;
         padding-bottom: 5px;
      }
   }

   #bbpress-forums .bbp-topics .bbp-body ul.topic.even {
      .bg-contrast-mix();   
   }


   // NEW TOPIC FORM
      // Form
      #bbpress-forums #new-post {
         margin-bottom: 3em;
         .bg-contrast-mix();
         padding: 2em;
      }

      // Select
      #bbpress-forums #new-post .form-group select{
         .form-control;
      }

      // Textarea
      #bbpress-forums #new-post textarea {
         .form-control;
         height: 120px;
      }

      // Submit button
      div.bbp-submit-wrapper {
         float: none;
      }

   // Post Title
   #bbpress-forums .bbp-topics .bbp-topic-title .bbp-topic-permalink {
      padding-top: 7px;
      //font-weight: bold;
      font-size: @font-size-base;
   }

   li.bbp-topic-title {
      width: 60%;
   }

   // Voices
   li.bbp-topic-voice-count {
      width: 0;
      visibility: hidden;
   }

   // Post/reply count
   /*li.bbp-topic-reply-count {
      float: left;
      text-align: center;
      width: 10%;
   }*/

   // Latest reply
   li.bbp-topic-freshness {
      text-align: center;
      float: left;
      width: 27%;

      padding-left: 6px;
   }

   // Latest reply text
   #bbpress-forums p.bbp-topic-freshness-text {
      text-align: left;
      margin: 0 0 0 40px; /* Width of avatar plus desired margin */
   }



/* ==========================================================================
   Bootstrap tweaks
   ========================================================================== */

// typo in bootstrap
input[type="radio"], input[type="checkbox"] {
   margin-top: 1px;
}