	//		LIGHT: BROWN/GREEN/GRAY/BLUE  -  Inspired by Minecraft

// Brand colors
// -------------------------

@brand-primary:         #74543B;
@brand-primary-text-contrast: #fff;

@brand-complement:      #67AB3E;
@brand-complement-text-contrast: #fff;

@brand-success:         #4CDCE5; // Kinda bright
@brand-success-muted:   #FAFEFF;
@brand-warning:         #975151;
@brand-warning-muted:   #EDE1E1;
@brand-danger:          #FC5700;
@brand-danger-muted:    #FAF2E1;
@brand-info:            #40D062;
@brand-info-muted:      #F5FCF7; 

// Scaffolding
// -------------------------

@body-bg:               @gray-lighter;
@body-bg-contrast-mix:  mix(#888, @body-bg, 20%);
@body-bg-contrast-more:	darken(@body-bg-contrast-mix, 15%);

@input-bg:              #fff;

@back-bg: 				#85B1EE;

@text-color:            #212121;
@text-muted:            #555;

@border-color-main: @gray-light;
@border-color-main-contrast: darken(@border-color-main, 15%);

@border-stack: 1px solid @border-color-main; // Standard border stack
@border-stack-thick: 2px solid @border-color-main; // Standard border stack

// Links
// -------------------------

@link-color:            #2F25AA;
@link-hover-color:      lighten(@link-color, 20%);